
.logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
  height: 50px;
  width: 100px;
}
.logoDiv{
  padding-right: 10px;
}
.search input{
  outline: none;
  color: var(--text);
}


.lang {
  position: relative;
}

.lang ul {
  position: absolute;
  top: 100%;
  right: 0;
  background: white;
  color: black;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.lang li {
  padding: 8px 12px;
  cursor: pointer;
}

.lang li:hover {
  background: #f3f3f3;
}

.top-nav {
  text-align: center;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(214, 214, 214);
  width: 100%;
  padding: 15px 5px;
}

.cartSearch{
  display: flex;
  align-items: center;
  gap: 10px;
}

.searchInput::placeholder{
  opacity: 0;
}
.searchDiv:focus-within .searchInput{
  border: 1px solid grey;
}
.searchDiv:focus-within .searchInput::placeholder{
  opacity: 1;
}

.dashboardType{
  position: absolute;
  display: none;
  color: black;
  flex-direction: column;
  z-index: 1000;
  border-radius: 5px;
  padding: 5px;
  gap: 5px;
  text-wrap: nowrap;
}
.dashboardType a{
  background-color: transparent;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 5px;
  gap: 5px;
}
.dashboardType a:hover{
  background-color: aliceblue;
}
.dashboard:hover .dashboardType {
  display: flex;
}
.cart{
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px;
}

.cart>span{
position: absolute;
background-color: rgba(167, 70, 236, 0.905);
height: 20px;
width:20px;
align-items: center;
display: flex;
justify-content: center;
border-radius: 50%;
color: white;
right: 0;
top: 0;

}
