.menucontent {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: var(--background);
  color: var(--text);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  transition: left 0.3s ease-in-out;
  z-index: 1000;
}

.menucontent.show {
  left: 0;
}

.menuicon {
  cursor: pointer;
  font-size: 30px;
}

.closeicon {
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
}

.dashboard1 {
  position: relative;
}

.dashboardType1 {
  display: none;
  flex-direction: column;
  position: absolute;
  flex-wrap: nowrap;
  text-wrap: nowrap;
  background: #f7f9fe; /* just for visibility */
  top: 100%;
  left: 50px;
  z-index: 100;
  padding: 5px;
}
.dashboardType1 a{
  padding: 5px;
}
.dashboardType1 a:hover{
  background: lightblue;
}
.dashboard1:hover .dashboardType1{
  display: flex;
}
