@import "tailwindcss";
#root{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
}

body {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--border);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
}
*{
  box-sizing: border-box;
}
.screen{
  width: 100%;
  max-width: 1260px;
}
/* Small Phones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .login, .signup, .dashboard, .lang, .theme{
    display: none;
  }
  .logsign{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px !important;
  }
  .searchInput{
    height: 40px;
    width: 40px;
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within .searchInput {
    width: 100% ;
  }
  .searchDiv{
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within {
    width: 100%;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  .login, .signup, .dashboard, .lang, .theme{
    display: none;
  }
  .logsign{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px !important;
    padding-bottom: 30px !important;
  }

  .searchInput{
    height: 40px;
    width: 40px;
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within .searchInput {
    width: 100% ;
  }
  .searchDiv{
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within{
    width: 100%;
  }
  
}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .login, .signup, .dashboard, .lang, .theme{
    display: none;
  }
  .logsign{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px !important;
    padding-bottom: 30px !important;
  }
  .searchInput{
    height: 40px;
    width: 40px;
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within .searchInput {
    width: 100% ;
  }
  .searchDiv:focus-within{
    width: 100%;
    min-width: 390px;
  }
}

/* Laptops */
@media screen and (min-width: 769px) and (max-width: 992px) {
  .dashboard, .lang, .theme{
    display: none;
  }
  .logoDiv{
    width: fit-content;
    min-width: 120px;
  }
  .searchDiv{
    width: 100%;
  }
}

/* Desktops */
@media screen and (min-width: 993px) {
  .logoDiv{
    width: fit-content;
    min-width: 120px;
  }
  .menudiv{
    display: none;
  }
  .searchDiv{
    width: 100%;
  }
}

