@import "tailwindcss";
#root{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 320px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--background);
  color: var(--text);
  border: 1px solid var(--border);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  scroll-behavior: smooth;
}
*{
  box-sizing: border-box;
}
.screen{
  width: 100%;
  max-width: 1260px;
}

/* Small Phones */
@media screen  and (max-width: 480px) {
/* 
  .top-nav{
    background-color: aqua !important;
  } */
  .login, .signup, .dashboard,.assesment, .lang, .theme,.notes{
    display: none;
  }
  .logsign{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px !important;
  }
  .searchInput{
    height: 40px;
    width: 40px;
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within .searchInput {
    width: 100% ;
  }
  .searchDiv{
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within {
    width: 100%;
  }
  .notenav{
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 481px) and (max-width: 576px) {
  /* .top-nav{
    background-color: red !important;
  } */
  .notes,.login, .signup, .dashboard,.assesment, .lang, .theme{
    display: none;
  }
  .logsign{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px !important;
    padding-bottom: 30px !important;
  }

  .searchInput{
    height: 40px;
    width: 40px;
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within .searchInput {
    width: 100% ;
  }
  .searchDiv{
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within{
    width: 100%;
  }
  .notenav{
    display: flex;
    flex-direction: column;
  }
  
}

/* Tablets */
@media screen and (min-width: 577px) and (max-width: 768px) {
  /* .top-nav{
    background-color: yellowgreen !important;
  } */
  .login, .signup, .dashboard,.assesment,.notes, .lang, .theme{
    display: none;
  }
  .logsign{
    display: flex !important;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px !important;
    padding-bottom: 30px !important;
  }
  .searchInput{
    height: 40px;
    width: 40px;
    transition: width 0.5s ease;
  }
  .searchDiv:focus-within .searchInput {
    width: 100% ;
  }
  .searchDiv:focus-within{
    width: 100%;
    min-width: 390px;
  }
  .notenav{
    display: flex;
    flex-direction: column;
  }
}

/* Laptops */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* .top-nav{
    background-color: olive !important;
  } */
  .assesment,.notes, .theme{
    display: none;
  }
  .logoDiv{
    width: fit-content;
    min-width: 120px;
  }
  .searchDiv{
    width: 100%;
  }
}

/* Desktops */
@media screen and (min-width: 993px) {
  /* .top-nav{
    background-color: green !important;
  } */
  .logoDiv{
    width: fit-content;
    min-width: 120px;
  }
  .menudiv{
    display: none;
  }
  .searchDiv{
    width: 100%;
  }
}

